<!-- TODO: Get images for the properties -->
<!-- TODO: Fix Stylings -->
<!-- TODO: Pagination for later stages -->
<h1 class="text-center">Below Are All The Adverts You Posted</h1>
<hr />
<div class="card" style="margin: 15px;" *ngFor="let advert of adverts">
    <div class="card-header" style="background-color: #6099f0;">
        <div class="row">
            <div class="col-sm-4">
                Status: {{advert.State}}
            </div>
            <div class="col-sm">
                <h3>{{advert.Headline}}</h3>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-12 text-center">
                Images Will Be Added Here Later
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-12">
                Details:
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <p>{{advert.Details}}</p>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="row">
            <div class="col-sm-10">
                {{advert.Province}}/{{advert.City}}
            </div>
            <div class="col-sm-2    ">
                Price: {{advert.Price | currency:"ZAR":"R":"1.2-2"}}
            </div>
        </div>
    </div>
</div>