<!-- TODO: Get images for the properties -->
<!-- TODO: Fix Stylings -->
<div class="container text-center">
    <h1>Below Are All The Adverts You Posted</h1>
    <hr />
    <div class="card">
        <div class="card-header">
            <div class="row">
                <h6 class="col">State: Live</h6>
                <h3 class="col">Some Headline</h3>
                <!-- Action Button -->
                <button class="btn-md btn-outline-secondary col dropdown-toggle" type="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">Actions</button>

                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Edit</a>
                    <a class="dropdown-item" href="#">Hide Advert</a>
                    <a class="dropdown-item" href="#">Delete Advert</a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <p>Details:<br />Some Details</p>
            <hr />
            <p>
                Province: South Africa<br />
                City: Bloemfontein
            </p>
        </div>
        <div class="card-footer">
            <p>Price: R120000</p>
        </div>
    </div>
    <hr />
</div>