<div class="container">
    <div class="card">
        <h5 class="card-header secondary-color white-text text-center py-4">
            <strong>{{pageTitle}}</strong>
        </h5>
        <div class="card-body px-lg-5 pt-0">
            <form class="text-center" novalidate (ngSubmit)="onSubmission()" [formGroup]="editForm">
                <!-- <div class="form-row">
                    <div class="col">
                        <div class="md-form">
                            <input type="text" id="headlineId" class="form-control" formControlName="headline" />
                            <label for="headlineId">
                                Headline
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <div class="md-form">
                            <textarea id="detailsId" class="md-textarea form-control" rows=3></textarea>
                            <label for="detailsId">
                                Details
                            </label>
                        </div>
                    </div>
                </div>
                <div formGroupName="areaGroup"> -->
                    <div class="form-row">
                        <div class="col">
                            <div class="md-form">
                                <select class="browser-default custom-select" formControlName="province" (change)="onProvinceChange($event)">
                                    <option value="" disabled>Choose A Province</option>
                                    <option *ngFor="let province of provinces" [ngValue]="province">{{province.name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="form-row">
                        <div class="col">
                            <div class="md-form">
                                <select class="browser-default custom-select" formControlName="city">
                                    <option selected>Choose A City</option>
                                    <option *ngFor="let city of cities" value="city.id">{{city.name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <div class="md-form">
                            <input type="number" 
                                   id="priceId"
                                   class="form-control"
                                   formControlName="price"/>
                            <label for="priceId">Price</label>
                        </div>
                    </div>
                </div> -->
            </form>
        </div>
    </div>
</div>