<h3>{{pageStatus}}</h3>
<div class="md-form text-center">
    <div class="row" style="margin: 10px;">
        <div class="col">
            <input type="text" id="search" class="form-control" />
            <label for="search">Search</label>
        </div>
        <div class="col-12 col-md-auto">
            <button type="button" class="btn btn-primary">Search For A Property</button>
        </div>
    </div>
</div>
<div *ngIf="adverts">
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-left" scope="col">Headline</th>
                <th scope="col">Province</th>
                <th scope="col">City</th>
                <th scope="col">Price</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let advert of adverts">
                <td class="text-left">{{advert.headline}}</td>
                <td>{{advert.province}}</td>
                <td>{{advert.city}}</td>
                <td>{{advert.price | currency:'ZAR':'R':'1.2-2'}}</td>
                <td><a class="btn-sm btn-outline-secondary" [routerLink]="['/adverts', advert.id]">More Details</a></td>
            </tr>
        </tbody>
    </table>
</div>