<!-- TODO: Has to be more responsive -->
<!-- nav -->
<nav class="mb-1 navbar navbar-expand-lg navbar-dark secondary-color lighten-1">
    <a class="navbar-brand" routerLink='/home'>Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navContent"
        aria-controls="navContent" aria-expanded="false" aria-label="Toggle Navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navContent">
        <!-- Left Navbar Items -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink='/home'>Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink='/adverts'>Homes For Sale</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="sellAHouseClick()">Sell A House</a>
            </li>
        </ul>
        <!-- Right Navbar Items -->
        <ul class="navbar-nav ml-auto nav-flex-icons">
            <!-- Non-Authenticated Feauters -->
            <li class="nav-item" *ngIf="!currentUser">
                <a class="nav-link" routerLink='/login'>Login</a>
            </li>
            <li class="nav-item" *ngIf="!currentUser">
                <a class="nav-link" routerLink='/register'>Register</a>
            </li>
            <!-- Authenticated Feauters -->
            <li class="nav-item dropdown" *ngIf="currentUser">
                <a class="nav-link dropdown-toggle" id="userSection" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-default text-center"
                    aria-labelledby="userSection">
                    <p>Welcome {{currentUser.forenames.trim().split(' ')[0]}}</p>
                    <hr/>
                    <a class="dropdown-item" routerLink='/myAdverts'>My Adverts</a>
                    <a class="dropdown-item" routerLink='/profile'>My Profile</a>
                    <a class="dropdown-item" routerLink='/adverts'>Buy A House</a>
                    <a class="dropdown-item" routerLink='/adverts/0/edit'>Sell A House</a>
                    <a class="dropdown-item" routerLink='/manage'>Manage My Account</a>
                    <a class="dropdown-item" routerLink='/sellerProfile'>My Seller Profile</a>
                    <a class="dropdown-item" routerLink='/favourites'>Favourite Houses</a>
                    <hr/>
                    <a class="dropdown-item" (click)="logout()">Logout</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<!-- TODO: Think of a better background Color -->
<!-- main app container -->
<div class="container">
    <router-outlet></router-outlet>
</div>

<!-- TODO: Add More Details -->
<!-- TODO: Get A Better background color -->
<!-- credits -->
<div class="text-center text-white mt-4" style="background-color: rgb(116, 116, 116);">
    <hr />
    <p>
        <span>Author: Justin Swart</span>
        <br />
        <span>Bitcube Final Practical</span>
    </p>
    <hr />
</div>