   .sidebar {
      width           : 100%;
      background-color: #aa66cc;
      height          : 100%;
      border-radius: 5%;
  }

  .sidebar a {
      display        : block;
      color          : white ;
      padding        : 16px;
      text-decoration: none;
  }

  .sidebar a:hover {
      background-color: #4285f4;
      color           : white;
      border-radius: 45%;
      }

    div.footer{
        background-color: gray;
        bottom: 0;
        height: 100%;
    }

    div.footer p{
        margin-left: 20px;
        color:black;
    }