<!-- TODO: Has to be more responsive -->
<!-- TODO: Issue with the profile icon display on mobile -->
<!-- nav -->
<nav class="mb-1 navbar navbar-expand-lg sticky-top navbar-dark secondary-color lighten-1">
    <a class="navbar-brand" routerLink='/home'>Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navContent"
        aria-controls="navContent" aria-expanded="false" aria-label="Toggle Navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navContent">
        <!-- Left Navbar Items -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink='/home'>Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink='/advertsForSale'>Homes For Sale</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="sellAHouseClick()">Sell A House</a>
            </li>
        </ul>
        <!-- Right Navbar Items -->
        <ul class="navbar-nav ml-auto nav-flex-icons">
            <!-- Non-Authenticated Feauters -->
            <li class="nav-item" *ngIf="!currentUser">
                <a class="nav-link" routerLink='/login'>Login</a>
            </li>
            <li class="nav-item" *ngIf="!currentUser">
                <a class="nav-link" routerLink='/register'>Register</a>
            </li>
            <!-- Authenticated Feauters -->
            <li class="nav-item dropdown" *ngIf="currentUser">
                <a class="nav-link dropdown-toggle" id="userSection" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    <i class="fas fa-user"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-default text-center"
                    aria-labelledby="userSection">
                    <p>Welcome {{currentUser.forenames.trim().split(' ')[0]}}</p>
                    <hr />
                    <a class="dropdown-item" (click)="logout()">Logout</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<!-- TODO: Transform Sidebar To A Dropdown For Mobile Users -->
<!-- TODO: Get Sidebar To Full Widht And Length -->
<!-- TODO: Add active funtionality to sidebar -->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2 text-center" *ngIf="currentUser">
            <div class="sidebar">
                <a routerLink='/adverts'>My Adverts</a>
                <a>My Profile</a>
                <a>Buy A House</a>
                <a>Sell A House</a>
                <a>Manage My Account</a>
                <a>My Seller Profile</a>
                <a>Favourite Houses</a>
            </div>
        </div>
        <div class="content" [ngClass]="currentUser ? 'col-sm-10' : 'col-sm-12'">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
<div class="footer">
    <hr />
    <p>Author: Justin Swart</p>
    <p>Bitcube Final Practical</p>
    <hr />
</div>
